nav {
  font-family: var(--secondary-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 30px;
  height: var(--nav-height);
  
  color: var(--nav-text-color);
  background-color: var(--nav-background-color);

  position: fixed;
  top: 0;
  width: 100%;
}

#new-tweet-button {
  font-family: var(--primary-font);
  font-size: 0.8em;
  padding: 0.4em;
  cursor: pointer;
  border: solid var(--nav-text-color) 1px;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#new-tweet-button:hover {
  color: var(--nav-background-color);
  background-color: var(--nav-text-color);
}