#profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;

  /* padding: 10px 30px 0; */
  margin: calc(var(--nav-height) + 10px) 4% 0;

  color: var(--nav-text-color);
  background-color: var(--user-color);
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

#profile div {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#profile img {
  height: 100%;
}

#profile h2 {
  font-size: 30px;
  margin: 10px;
  padding: 0;
}