#all-tweets {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.tweet {
  margin: 10px 10px 0;
  padding: 10px;
  border: 2px solid var(--text-color);
  font-size: smaller;
  background-color: white;
}

.tweet:hover {
  box-shadow: 4px 4px #4057a13a;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet p {
  padding: 10px;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet header .username {
  color: #4057a18e;
}

.tweet header img {
  height: 50px;
  margin-right: 10px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding: 10px;
  border-top: 2px solid var(--text-color);
}

.tweet footer i {
  padding: 0 0.1em;
  color: var(--nav-background-color);
}

.tweet footer i:hover{
  color: orange;
}